<div class="row">
    <form class="example-form">

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" value="">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" value="">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Tipo Usuario</mat-label>
            <mat-select>
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput type="date" placeholder="Nombre" value="">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" value="">
        </mat-form-field>

    </form>
</div>