<div>
    <mat-button-toggle-group name="menu" aria-label="menu" (valueChange)="function($event)">
        <mat-button-toggle value="inicio" checked="true">Inicio</mat-button-toggle>
        <mat-button-toggle value="usuarios">Usuarios</mat-button-toggle>
        <mat-button-toggle value="informes">Informes</mat-button-toggle>
        <mat-button-toggle value="administrar_flota">Administrar Flota</mat-button-toggle>
        <mat-button-toggle value="vizualizar_flota">Vizualizar flota</mat-button-toggle>
    </mat-button-toggle-group>
</div>
<!-- aqui abajo se encuentran  los contenedores de cada modulo -->
<div>

    <div *ngIf="vista == 'inicio'">
        <!-- vista Inicio -->
        <p>inicio</p>
    </div>
    <div *ngIf="vista == 'usuarios'">
        <!-- vista Usuarios -->
        <p>usuarios</p>
    </div>
    <div *ngIf="vista == 'informes'">
        <!-- vista Informes-->
        <p>informes</p>
    </div>
    <div *ngIf="vista == 'administrar_flota'">
        <!-- vista Administrar Flota -->
        <p>admin flota</p>
    </div>
    <div *ngIf="vista == 'vizualizar_flota'">
        <!-- vista vizualizar flota -->
        <p>vizualizar flota</p>
    </div>
</div>