<div class="row">
    <form class="example-form" (ngSubmit)="enviar()" [formGroup]=flotaForm>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" value="" formControlName="nombre">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" value="" formControlName="apellido">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Tipo Usuario</mat-label>
            <mat-select formControlName="tipoUsuario">
                <mat-option value="one">First option</mat-option>
                <mat-option value="two">Second option</mat-option>
            </mat-select>
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Fecha Nacimiento</mat-label>
            <input matInput type="date" placeholder="Nombre" value="" formControlName=fechaNacimiento>
        </mat-form-field>
        <br>
        <button type="submit" mat-button color="primary" [disabled]="!flotaForm.valid">Enviar</button>

    </form>
    <button mat-button ((click))="cerrar()">Cancelar</button>
</div>