<div>
    <br>
    <div class="row">
        <div class="col-8">

            <h2>Lista de usuarios</h2>
        </div>
        <div class="col-4">
            <button mat-raised-button color="primary" (click)="crearUusuario()">Crear Nuevo Usuario</button>

        </div>
    </div>
    <br><br>

    <!-- tabla / lista usuarios -->
    <table mat-table [dataSource]="dataSource" matSort class="
        mat-elevation-z8" style="width: 100%;">

        <!-- Position Column -->
        <ng-container matColumnDef="rut">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Rut">
                Rut
            </th>
            <td mat-cell *matCellDef="let element"> {{element.rut}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Nombre">
                Nombre
            </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="apellido">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Apellido">
                Apellido
            </th>
            <td mat-cell *matCellDef="let element"> {{element.apellido}} </td>
        </ng-container>

        <!-- Symbol Column -->
        <ng-container matColumnDef="movil">
            <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Ordenar por Movil">
                Movil
            </th>
            <td mat-cell *matCellDef="let element"> {{element.movil}} </td>
        </ng-container>
        <ng-container matColumnDef="accion">
            <th mat-header-cell *matHeaderCellDef>

            </th>
            <td mat-cell *matCellDef="let element"> <button (click)="modificar(element)">

                    <mat-icon> edit</mat-icon>
                </button>
                <button (click)="eliminar(element)">

                    <mat-icon>delete</mat-icon>
                </button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>