<div class="row">
    <form class="example-form" (ngSubmit)="enviar()" [formGroup]=flotaForm>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>N° Colectivo</mat-label>
            <input matInput placeholder="numero colectivo" value="" formControlName="movil">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Patente</mat-label>
            <input matInput placeholder="Patente" value="" formControlName="patente">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>dueño</mat-label>
            <input matInput placeholder="nombre dueño" value="" formControlName="dueno">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Marca</mat-label>
            <input matInput placeholder="marca" value="" formControlName="marca">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Modelo</mat-label>
            <input matInput placeholder="Modelo" value="" formControlName="modelo">
        </mat-form-field>

        <br>
        <button type="submit" mat-button color="primary" [disabled]="!flotaForm.valid">Enviar</button>

    </form>
    <button mat-button ((click))="cerrar()">Cancelar</button>
</div>