<h1>
    modificacion de usuario
</h1>
<div class="row">
    <form class="example-form" (ngSubmit)="enviar()" [formGroup]=usuarioForm>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Rut</mat-label>
            <input matInput placeholder="Rut" value="data.usuario.rut" formControlName="rut">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Nombre</mat-label>
            <input matInput placeholder="Nombre" value="" formControlName="nombre">
        </mat-form-field>

        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Apellido</mat-label>
            <input matInput placeholder="Apellido" value="" formControlName="apellido">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Password</mat-label>
            <input matInput placeholder="Apellido" value="" formControlName="password">
        </mat-form-field>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>movil</mat-label>
            <input matInput placeholder="movil" value="" type=number formControlName="movil">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Tipo Usuario</mat-label>
            <mat-select formControlName="tipoUsuario" [(value)]="data.usuario.tipoUsuario">
                <mat-option [value]="0">Admin</mat-option>
                <mat-option [value]="1">Colectivo</mat-option>

            </mat-select>
        </mat-form-field>

        <br>
        <button type="submit" mat-button color="primary" [disabled]="!usuarioForm.valid">Enviar</button>

    </form>
    <button mat-button onclick="cerrar()">Cancelar</button>
</div>