<div class="container" style="height: 100%;">
    <div class="row">
        <h1>esta es la nav bar</h1>
    </div>
    <div class="row" style="height: 30%;">
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni quibusdam dignissimos, voluptate ex atque
            quidem ad? Ex laboriosam veniam, et voluptatem autem dolorem reiciendis odio nostrum debitis eaque quam
            quae.</p>
    </div>
    <div class="row" style="height: 30%;">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Obcaecati excepturi, provident dolores iusto quam
        dicta eos quaerat ipsum, id ea libero veritatis perferendis itaque autem delectus? Eaque labore quas culpa?
    </div>
    <div class="row" style="height: 30%;">
        Lorem ipsum dolor, sit amet consectetur adipisicing elit. Natus quas animi nisi ut provident? Cum est totam
        itaque. Reiciendis repellendus quod ipsum earum maiores culpa vel deserunt est numquam rem!
    </div>
</div>