<div class="container" style="height: 100%;">
    <div class="row" style="height: 80px;">
        <div class="col-5">

            <app-button-switch></app-button-switch>
        </div>
        <div class="col-7">
            <br>
            <p> Estado Del viaje</p>
        </div>
        <!-- <h1>esta es la nav bar</h1> -->
    </div>
    <div class="row" style="height: 20%;">
        <img class='center' src="../../../../assets/icons/icon_plus.png" width="50%" alt="">
    </div>
    <div class="row">
        <h1 style="text-align: center; width: 100%;"> Cantidad De Pasajeros</h1>

    </div>
    <div class="row">
        <h1 style="text-align: center;width: 100%;">3</h1>

    </div>
    <div class="row" style="height: 30%;">
        <img class='center' src="../../../../assets/icons/icon_minus.png" width="50%" alt="">

    </div>
</div>